nav {
  background-color: #eee;
}
a {
  /* background-color: #262626; */
  color: #1f1d1d;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 20px;
  display: block;
}

nav a:hover {
  color: white;
  background-color: #383333
}

@media screen and (min-width: 768px){
  nav{
    display: flex;
    justify-content: center;
  } 
} 

.selected {
  padding: 20px 20px;
  background-color: #1f1d1d;
  color: #eee;
  -webkit-transition: color 1s linear; /* Safari */
  transition: color 1s linear;  
}